body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Georgia', serif;
}

a {
    text-decoration: none;
    color: inherit;
}

header, footer {
    background-color: #333;
    color: white;
    padding: 15px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    padding: 10px 20px;
    margin: 0 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}
nav ul li:hover{
    background-color: rgb(254, 255, 255);

}
nav ul li a {
    color: rgb(56, 105, 55);
    font-size: 18px;
    padding: 10px 15px;
}

.hero {
    background-image: url('https://t4.ftcdn.net/jpg/02/78/69/37/360_F_278693728_O7t0fe2oDwwucHisBR1i8UhVxE5N229G.jpg');  
    background-size: cover;
    background-position: center;
    height: 300px;
    color: white;
    text-align: center;
    padding-top: 100px;
}

.hero-text h2 {
    font-size: 3em;
}

.menu-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 40px 0;
}

.menu-item {
    text-align: center;
    display:grid;
    grid-template-columns: repeat(auto-fill, minimax(250px,1fr));
    gap: 20px;
    padding: 20px;
}

.menu-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

#about, #contact {
    padding: 40px;
    text-align: center;
    background-color: #f4f4f4;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

form button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: #fff;
}
